:root {
  scroll-behavior: smooth;
}

@media (min-width: 751px) {
  #docsearch-container:lang(zh-CN) {
    min-width: 184.66px;
  }
}

:root {
  // brand colors
  --c-brand: #0052ff;
  --c-brand-light: #0052ff;
}

html.dark {
  // brand colors
  --c-brand: #0052ff;
  --c-brand-light: #0052ff;
}
